
<header>

  <app-menu-bar></app-menu-bar>

</header>



<app-menu-title></app-menu-title>

<div class="container_articles">

  <div class="articles_main">
    <app-big-card></app-big-card>

  </div>

  <div class="articles_others">
    <app-smart-card></app-smart-card>
    <app-smart-card></app-smart-card>
    <app-smart-card></app-smart-card>

  </div>



</div>
<h1>NOVIDADES</h1>
<hr>
<div class="container_articles">

  <div class="articles_main">
    <app-big-card></app-big-card>

  </div>

  <div class="articles_others">
    <app-smart-card></app-smart-card>
    <app-smart-card></app-smart-card>
    <app-smart-card></app-smart-card>

  </div>



</div>
